<mat-nav-list>
    <div class="logo py 4">
        <img src="../../assets/image/logo-sagemcom-new-charte-header.png" alt="Coompany Logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"></h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Acceuil</a>
    <a mat-list-item routerLink="/Users" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Utilisateurs</a>
    <a mat-list-item routerLink="/gabarits" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Créer gabarits</a>
    <a mat-list-item routerLink="/demande-de-passation" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Demande de passation</a>
    <a mat-list-item routerLink="/gerer-demandes" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Gérer les demandes</a>


</mat-nav-list>
